body {
  background-image: url("Sprinkles.jpg");
  background-color: hsl(213, 85%, 92%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanva1 {
  border: 1px solid black;
  background-image: url("https://static.vecteezy.com/system/resources/previews/052/104/953/non_2x/bunting-flags-with-confetti-on-beige-background-celebration-wallpaper-vector.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#myCanvas2 {
  border: 1px solid rgb(255, 194, 194);
  border-radius: 30px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/052/104/953/non_2x/bunting-flags-with-confetti-on-beige-background-celebration-wallpaper-vector.jpg");
}


